mixin vitrina-item-small-stars(data)
    +b.vitrina-item-small-stars
        +e.left
            A(href="#")
                +e.IMG.img(src="static/img/content/vitrina-small-stars.jpg")
        +e.right
            +e.A(href="#").title Fruit coctail
            +e.stars
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star-half-o
            +e.btn-wrap
                +e.A(href="#").btn_green Играть
                +e.A(href="#").btn_grey Демо


