mixin vitrina-item-banner(data)
    +b.SECTION.vitrina-item-banner
        +e.img-wrap
            +e.IMG.img(src="static/img/content/vitrina-banner.jpg")
        +e.btn-wrap
            +b.A(href="#").main-btn_green Посетить клуб
