mixin news-one-item(data)
    .block-best
        .block-best__title
            .block-best__title-text Будоражующая онлайн игры теперь не даст спокойно спать!
    +b.news-item
        +e.img-wrap
            +e.IMG(src="static/img/content/news-item-img.jpg").img
        +e.title Будоражующая онлайн игры теперь не даст спокойно спать!
        +e.date
            SPAN 22.01.2015
        +e.text
            p Команда казино Вулкан от всей души поздравляет всех дам с их замечательным праздником весны и желает провести его не только с цветами в руках и романтикой... в сердце, но и с хорошим настроением. Предлагаем мужчинам сделать для своих милых дам незабываемый сюрприз в нашей праздничной лотерее «8 марта».

