.vitrina-3items-in-line {
    margin-bottom: 15px;
    &__title {
        padding: 11px 15px;
        color: $dark-grey-text-color;
        font-size: 16px;
        font-weight: 700;
        background: #e7e7e7;
        border-radius: 10px 10px 0 0;
    }
    &__inner {
        padding: 15px 15px 12px 15px;
        border: 1px solid $border-grey;
        border-top: none;
        font-size: 0;
    }
    &__item {
        display: inline-block;
        width: 178px;
        margin-bottom: 28px;
        margin-right: 10px;
        &_no-mb {
            margin-bottom: 0;
        }
        &_big-item {
            width: auto;
            margin-right: 0;
            border-left: 1px solid $border-grey;
            border-right: 1px solid $border-grey;
            border-radius: 0 0 10px 10px;
        }
    }
    &__item:nth-child(3n) {
        margin-right: 0;
    }
    &__img-wrap {
        display: block;
        margin-bottom: 10px;
    }
    &__img {
        display: block;
        border-radius: 10px;
        &_big-item {
            border-radius: 0;
        }
    }
    &__item-title-wrap {
        display: block;
        margin-bottom: 5px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        color: $dark-grey-text-color;
        &:hover {
            text-decoration: underline;
        }
    }
    &__btn-wrap {
        @include clearfix;
        &_big-item {
            padding: 0 30px 10px 30px;
            border-radius: 0 0 10px 10px;
            box-shadow: $gray-3line-shadow;
        }
    }
    &__btn {
        min-width: 80px;
        text-align: center;
        position: relative;
        display: inline-block;
        padding: 6px 12px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 3px;
        &_green {
            background-image: $green-gradient;
            color: #fff;
            text-shadow: 0 1px #003401;
            border-top: 1px solid #36ca37;
            border-bottom: 1px solid #1d6b08;
            &:hover {
                background-image: $hover-green-gradient;
                &::before, &::after {
                    background-image: linear-gradient(#208523, #47c34f);
                }
            }
            &::before, &::after {
                content: '';
                display: inline-block;
                width: 1px;
                height: 32px;
                background-image: linear-gradient(#47c34f, #208523);
                position: absolute;
                top: 1px;
            }
            &::before {
                left: 0;
            }
            &::after {
                right: 0;
            }
        }
        &_grey {
            background-image: $grey-gradient;
            color: $dark-grey-text-color;
            text-shadow: 0 1px #fff;
            border-top: 1px solid #d5d5d5;
            border-bottom: 1px solid #9f9f9f;
            &:hover {
                background-image: $hover-grey-gradient;
                &::before, &::after {
                    background-image: linear-gradient(#949494, #dadada);
                }
            }
            &::before, &::after {
                content: '';
                display: inline-block;
                width: 1px;
                height: 32px;
                background-image: linear-gradient(#dadada, #949494);
                position: absolute;
                top: 1px;
            }
            &::before {
                left: 0;
            }
            &::after {
                right: 0;
            }
        }
    }
    &__btn:first-child {
        float: left;
    }
    &__btn:last-child {
        float: right;
    }
}
