$opensans: "Open Sans", Arial, sans-serif;

$color-text-orange: #ff7000;
$dark-grey-text-color: #565656;

$color-red: #ee4545;

$green-gradient: linear-gradient(#31e55e, #069611);
$hover-green-gradient: linear-gradient(#069611, #31e55e);
$orange-gradient: linear-gradient(#fea700, #ff6600);
$hover-orange-gradient: linear-gradient(#ff6600, #fea700);
$grey-gradient: linear-gradient(#eeeeee, #c0c0c0);
$hover-grey-gradient: linear-gradient(#c0c0c0, #eeeeee);

$border-grey: #e1e7ec;

$gray-3line-shadow: 0 1px 0 0 #c9ced4, 0 2px 0 0 #d5d9de, 0 3px 0 0 #eceef1;
