mixin game-frame-block(data)
    +b.game-frame
        +e.title Египетский гороскоп предрекает удачу на автомате Fruits Of Ra
        +e.wrap
            <iframe src="//games-cv.com/book_of_ra?refCode=promoRefCode" width="560" height="410" align="center"></iframe>
        +e.bottom
            +e.game-logo-wrap
                +e.IMG.game-logo(src="static/img/content/game-logo-frame-block.png")
            +e.text
                p Рекомендуемое казино «Фараон»! Продолжи играть и выигрывай реальные деньги!
            +b.A(href="#").main-btn_green.game-frame__btn Играть на деньги
