.block-news {
    &_mb {
        margin-bottom: 12px;
    }
    &__title {
        font-weight: 700;
        padding: 10px 0 10px 12px;
        background: #e8e8e8;
        border-top: 3px solid #fff;
        border-radius: 10px 10px 0 0;
    }
    &__top-wrap {
        padding: 15px 15px 10px 15px;
        border: 1px solid $border-grey;
        font-size: 0;
    }
}

.small-news-preview {
    width: 175px;
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
    &:nth-child(3n) {
        margin-right: 0;
    }
    &__img-wrap {
        display: block;
        margin-bottom: 6px;
    }
    &__img {
        display: block;
        width: 175px;
        height: 135px;
        border-radius: 10px;
    }
    &__title {
        display: inline-block;
        text-decoration: none;
        color: #414141;
        margin-bottom: 6px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
    }
    &__date {
        font-size: 12px;
    }
}

.small-news-preview:hover {
    cursor: pointer;
    .small-news-preview__title {
        text-decoration: underline;
    }
}

.big-news-preview {
    padding: 15px 15px 10px 15px;
    border: 1px solid $border-grey;
    border-top: none;
    font-size: 0;
    &__img-wrap {
        margin-right: 14px;
        display: inline-block;
        vertical-align: top;
        width: 132px;
    }
    &__img {
        border-radius: 10px;
        display: block;
        width: 132px;
        height: 103px;
    }
    &__content-wrap {
        display: inline-block;
        vertical-align: top;
        width: 70%;
    }
    &__title {
        display: inline-block;
        text-decoration: none;
        color: #414141;
        margin-bottom: 6px;
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
        &:hover {
            text-decoration: underline;
        }
    }
    &__text {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 6px;
    }
    &__date {
        font-size: 12px;
    }
}
