mixin footer(data)
    .container
        +b.footer()&attributes(attributes)
            +e.inner
                +e.A(href="#").link-top Рейтинг клубов
                +e.A(href="#").link-top Каталог игр
                +e.A(href="#").link-top Новости
            +e.inner
                +e.text © <a href="#">Freexgames.com.</a> Все права защищены. 2015

